//Это пример верстки по "BEM"

.header {
  margin-bottom: 100px;
  //block
  padding: 20px 6%;
  background: #b4ab0a;
  color: white;

  &__block1 {
    //element
    font-size: 20px;
  }

  &__block2 {
    //element
    font-size: 30px;
    &_red {
    //modificator
      background: red;
    }

    &_white{
      //modificator
      background: white;
      color: #2038ff;
    }
  }
}