<header class="header">
    <p class="header__block1">привет я хедер</p>
    <p class="header__block2">'/app/templates/_parts/_header.tpl' (открой меня, изучи)</p>
    <p class="header__block2 header__block2_red">меня вставили в файле /app/templates/_layouts/base.tpl (открой меня, изучи)</p>
    <p class="header__block2 header__block2_white">Я всегда нахожусь в отдельном файле-шаблоне _header.tpl для того что бы со мной было удобно работать.</p>
    {*Верстка по BEM*}
</header>